<% @posts.each do |post| %>
  <div class="media">
    <img class="mr-3" src="..." alt="User Avatar">
    <div class="media-body">
      <h5 class="mt-0"><%= link_to post.user.full_name, user_path(post.user_id) %></h5>
      <%= post.body %>
      <% if post.user == current_user %>
        <p>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
