// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment-container {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 2px solid #666;
}

.time-ago {
  font-size: 10px;
  color: #666;
  margin-bottom: 5px;
}

.commenter {
  font-size: 15px;
  font-weight: bold;
}
