// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.posts-container {
  max-width: 700px;
  margin: 0 auto;
}

.post-head {
  background-color: #eee;
  border: 1px solid #ddd;
  padding-top: 10px;
}
